.App {
  text-align: center;
  font-size: var(--fontSize);
  font-weight: 400;
}

.app-header-bg {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}

.app-header-bg > * {
  margin-bottom: 5rem;
}

.app-header-bg > h1 {
  font-size: 35px;
  letter-spacing: 0.7rem;
  padding-right: 30rem;
  color: var(--header-text);
}

.app-header-bg > img {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .app-header-bg {
    justify-content: space-between;
    align-items: center;
    padding: 5rem 1.3rem;
    background-image: var(--background-image-mobile);
  }

  .app-header-bg > h1 {
    font-size: 24px;
    padding-right: 1rem;
    letter-spacing: 0.5rem;
  }
}
