@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --fontFamily: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --CheckBackground: linear-gradient
    (145deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --activeColor: hsl(220, 98%, 61%);
  --fontSize: 18px;

  /* light theme */

  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* Dark theme */

  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlues: hsl(234, 39%, 85%);
  --LightGrayBlue: hsl(236, 33%, 92%); /* hover */
  --DarkGrayBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayBlues: hsl(233, 14%, 35%);
  --VeryDarkGrayBlue: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
  max-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
