.todolist {
  margin: 11rem 0;
  padding-bottom: 15.65rem;
}

.todos {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 34%;
  padding: 1.2rem;
  border-radius: 0.1rem;
  outline: none;
  border-bottom: 1px solid var(--VeryDarkGrayishBlue);
  font-size: 18px;
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--LightGrayBlue);
}

.todos > label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todos > label > li {
  list-style: none;
  padding-left: 1rem;
}

.todos > img {
  cursor: pointer;
}

.filter {
  width: 34%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--VeryDarkDesaturatedBlue);
  padding: 1.2rem;
  color: var(--VeryDarkGrayBlues);
}

.filter-btn {
  background: transparent;
  outline: none;
  border: none;
  color: var(--VeryDarkGrayBlues);
  cursor: pointer;
}

.filter-tasks > .filter-btn {
  margin: 0 1rem;
}

.filter-tasks > .filter-btn:hover,
.filter-tasks > .filter-btn:focus {
  color: var(--activeColor);
}

.active {
  color: var(--activeColor);
}

.info {
  padding-top: 3rem;
  color: var(--VeryDarkGrayBlues);
}
