.addtodo {
  margin: -8rem 0;
}

.input {
  width: 30.8%;
  padding: 0.9rem;
  border-radius: 0.1rem;
  outline: none;
  border: none;
  font-size: 18px;
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--LightGrayBlue);
  caret-color: var(--activeColor);
}

.btn {
  padding: 0.9rem;
  border-radius: 0.1rem;
  outline: none;
  border: 1px solid var(--VeryDarkGrayishBlue);
  font-size: 18px;
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--LightGrayBlue);
  cursor: pointer;
}
